body {
  padding-top: 70px;
  background-color: rgba(0,128,128, 0.5);
}

button:focus {
    outline: none;
}

.form-horizontal .control-label {
  text-align: left;
}

.well {
  margin: 10px;
  width: 30%;
  min-height: 295px;
  text-align: center;
  box-shadow: 0 1px 10px rgba(152,173, 185, 0.8);
  border: 1px solid rgb(194, 215,224);
  background-color: rgba(108,141, 167, 0.8);
}

.well:hover {
  background-color: rgba(78,111, 137, 0.8);
  border: 1px solid rgb(184, 205,214);
}

.well p {
  padding-top: 10px
}

.well .badge {
  position: absolute;
  min-width: 30px;
  min-height: 30px;
  top: -10px;
  right: -11px;
  padding: 7px;
  border-radius: 50%;
  border: 2px solid rgb(194, 215,224);
  background-color: rgba(119,119,119, 0.7);
}

.oculi {
  margin: auto;
  width: 60px;
  height: 60px;
}

.crafter {
  padding: 10px;
}

.oculi-well {
  border: 3px solid rgb(194, 215,224);
  /*min-height: 157px;*/
  min-height: 125px;
  /*padding: 19px;*/
  background-color: rgba(152,173, 185, 0.8);
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 1px 10px teal;
}

.oculi-well .oculi {
  position: relative;
  top: 30px;
}

.progress {
  margin-top: 30px;
  background-color: white;
}
.sapphire {
  fill: rgba(8, 37, 103,0.8);
}

.ruby {
  fill: rgba(224,17,95,0.7);
}

.emerald {
  fill: rgba(40, 162, 81, 0.8);
}

.tourmaline {
  fill: rgba(0,158,169, 0.8);
}

.amethyst {
  fill: rgba(153, 102, 204, 0.8);
}

.citrine {
  fill: rgba(228, 208, 10, 0.8);
}

.diamond {
  fill: rgba(185,242,255, 0.7);
}

.onyx {
  fill: rgba(15, 15, 15, 0.8);
}

.spinel {
  fill: rgba(133,22,41, 0.8);
}

.princess-stone {
  fill: rgba(231,170,186, 0.8);
}

#craft-button {
  margin-top: 79px;
}

#result-well {
  box-shadow: 0 1px 10px gold;
}
