<!-- <button tooltip-placement="top" uib-tooltip="{{statsService.getStoneStats('ruby')}}" type="button" class="btn btn-default">Tooltip</button> -->
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h3 class="text-center">Crafter</h3>
    <div class="crafter">
      <div class="row">
        <div class="col-xs-offset-4 col-xs-4">
          <div class="oculi-well">
            <button id="oculi-one" class="oculi" ng-click="removeOculi('oculi-one')" ng-show="chosenOculi['oculi-one']"></button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <div class="oculi-well">
            <button id="oculi-two" class="oculi" ng-click="removeOculi('oculi-two')" ng-show="chosenOculi['oculi-two']"></button>
          </div>
        </div>
        <div class="col-xs-4 text-center">
          <div id="craft-button">
            <button ng-click="reset()">Reset</button>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="oculi-well">
              <button id="oculi-three" class="oculi" ng-click="removeOculi('oculi-three')" ng-show="chosenOculi['oculi-three']"></button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-4 col-xs-4">
          <div id="result-well" class="oculi-well">
            <button id="result" class="oculi" ng-show="resultOculi"></button>
          </div>
        </div>
      </div>
    </div>
    <br>
    <h4 class="text-center craft-msg" ng-show="craftMsg">{{craftMsg}}</h4>
  </div>
  <div class="col-xs-12 col-sm-6">
    <h3 class="text-center">Oculi Library</h3>
    <div class="all-oculi">
      <div class="row">
        <div class="well col-xs-4" ng-repeat="o in oculiArray">
          <button class="oculi {{o}}" ng-click="selectOculi(o)" tooltip-placement="top" uib-tooltip="{{statsService.getStoneStats(o)}}" >
          </button>
          <p>{{o}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
