<div class="row">
  <div class="col-xs-12 col-sm-4">
    <h3 class="text-center">Crafter</h3>
    <div class="crafter">
      <div class="row">
        <div class="col-xs-offset-4 col-xs-4">
          <div class="oculi-well" id="oculi-one" ng-click="removeOculi('oculi-one')">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <div class="oculi-well" id="oculi-two" ng-click="removeOculi('oculi-two')">
          </div>
        </div>
        <div class="col-xs-4 text-center">
          <div id="craft-button">
            <button ng-click="reset()">Reset</button>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="oculi-well" id="oculi-three" ng-click="removeOculi('oculi-three')">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-4 col-xs-4">
          <div id="result-well" class="oculi-well">
            <div id="result">
            </div>
          </div>
        </div>
      </div>
      <br>
      <div ng-bind-html="craftMsg" class="text-center craft-msg" ng-show="craftMsg"></div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8">
    <h3 class="text-center">Oculi Library</h3>
    <uib-tabset active="active">
      <uib-tab index="$index" ng-repeat="f in facetTypes track by $index" heading="{{f}}">
        <div class="all-oculi">
          <div class="row">
            <div ng-repeat="o in oculiArray">
              <div class="well col-xs-4" ng-click="selectOculi(o, f)">
                <!-- <div tooltip-placement="top" uib-tooltip="{{statsService.getStoneStats(o,f)}}"> -->
                <div class="text-center">
                  <svg-icon  facet="{{f}}" stone="{{o}}"></svg-icon>
                  <p >{{o.toUpperCase()}}</p>
                  <div class="text-left" ng-bind-html="statsService.getStoneStats(o,f)"></div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
