<div id="inventory" class="row">
  <!-- <div class="col-xs-12 col-sm-6">
    <h3 >Bulk Add</h3>
    <br>
    <form class="form-horizontal">
      <div class="form-group text-left" ng-repeat="(stone, qty) in stash">
        <label class="control-label col-sm-4">{{stone}}</label>
        <div class="col-sm-4">
          <input type="number" class="form-control" ng-model="stashForm[stone]">
        </div>
      </div>
      <div class="text-center">
        <button class="col-sm-4" ng-click="bulkAddOculi()">Add</button>
      </div>

    </form>

  </div> -->
  <!-- <div class="col-xs-12 col-sm-6"> -->
  <div class="col-xs-12">
    <h3 class="text-center">Oculi Stash</h3>
    <div class="all-oculi">
      <div class="row">
        <div ng-repeat="(stone, facets) in stash">
          <div class="col-xs-2" ng-repeat="(facetType, qty) in facets">
            <div class="inventory-well">
              <span class="badge">{{qty}}</span>
              <button ng-click="removeOculi(stone, facetType)">-</button>
              <span>
                <svg-icon  facet="{{facetType}}" stone="{{stone}}"></svg-icon>
              </span>
              <button ng-click="addOculi(stone, facetType)">+</button>
              <br>
              <button ng-click="resetOculi(stone, facetType)">Reset</button>
              <p>{{facetType}} {{stone}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <br>
      <button ng-click="resetStash(stash)">Reset Entire Stash</button>
    </div>
  </div>
</div>


<div class="container">
  <h3>But...what can I make?</h3>
  <button class="btn btn-primary" ng-click="updateStashWithResults()">update stash</button>
  <br><br>
  <div>
    <div class="btn-group" uib-dropdown is-open="status.isopen">
      <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        Optimize for <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a ng-click="selectDropdown('facet', 'tumbled')">Create Tumbled</a></li>
        <li role="menuitem"><a ng-click="selectDropdown('facet', 'faceted')">Create Faceted</a></li>
        <li role="menuitem"><a ng-click="selectDropdown('facet', 'brilliant')">Create Brilliant</a></li>
      </ul>
    </div>
  </div>
  <br>

  <div class="col-xs-1">
    <p>Valuable Facet <span class="glyphicon glyphicon-arrow-right"></span> </p>
    <p><span class="glyphicon glyphicon-arrow-down"></span><br>Valuable Stone</p>
  </div>
  <div class="col-xs-11">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th class="text-center">Rough</th>
          <th class="text-center">Tumbled</th>
          <th class="text-center">Faceted</th>
          <th class="text-center">Brilliant</th>
        </tr>
      </thead>
      <tbody>

        <tr ng-repeat="(key,value) in results">
          <td>{{key | capitalize}}
            <span ng-repeat="(k,v) in stash[key]" ng-show="v > 0">
              <svg-icon facet="{{k}}" stone="{{key}}"></svg-icon>
              {{v}}
            </span>
          </td>
          <td>{{value.rough}}</td>
          <td>{{value.tumbled}}</td>
          <td>{{value.faceted}}</td>
          <td>{{value.brilliant}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
