<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h3 class="text-center">Bulk Add</h3>
    <form class="form-horizontal">
      <div class="form-group" ng-repeat="(stone, qty) in stash">
        <label class="control-label col-sm-offset-4 col-sm-2">{{stone}}</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" value="stashForm[stone]" ng-model="stashForm[stone]">
        </div>
      </div>
      <div class="text-center">
        <button class="col-sm-offset-4 col-sm-4" ng-click="bulkAddOculi()">Add</button>
      </div>

    </form>

  </div>
  <div class="col-xs-12 col-sm-6">
    <h3 class="text-center">Oculi Stash</h3>
    <div class="all-oculi">
      <div class="row">
        <div class="well col-xs-4" ng-repeat="(stone, qty) in stash">
          <span class="badge">{{qty}}</span>
          <button ng-click="removeOculi(stone)">-</button>
          <button class="oculi {{stone}}">
          </button>
          <button ng-click="addOculi(stone)">+</button>
          <p>{{stone}}</p>
        </div>
      </div>
    </div>
    <div class="text-center">
      <br>
      <button ng-click="resetStash()">Reset Stash</button>
    </div>
  </div>
</div>
<div class="text-center row">
  <h3>But...what can I make?</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Rough</th>
        <th>Tumbled</th>
        <th>Faceted</th>
        <th>Brilliant</th>
      </tr>
    </thead>
    <tbody>


      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>
